crispy-bootstrap5
Django
django-ckeditor==6.6.1
django-cors-headers
django-crispy-forms
django-debug-toolbar
django-environ
django-imagekit
django-js-asset
django-uuslug
djangorestframework
gunicorn
psycopg2-binary
pilkit
Pillow
python-slugify
pytz
