asgiref
backports.zoneinfo
crispy-bootstrap5
Django
django-appconf
django-ckeditor==6.0.0
django-cors-headers
django-crispy-forms
django-debug-toolbar
django-environ
django-imagekit
django-js-asset
django-uuslug
djangorestframework
pilkit
Pillow
python-slugify
pytz
six
sqlparse
text-unidecode
