<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Подтверждение об отправке сообщения на {{site.name}}</title>
</head>
<style>
	body {
		margin: 1.5em;
		font-family: Helvetica, Arial;
	}
	.message-field{
		line-height: 1.3;
		font-size: 16px;
	}
	pre{
		width:auto;
		padding: 1.5em;
		font-size:  0.9em;
		font-style: italic;
		background-color: #eee;
	}
</style>
<body>
	<h2>Ваше сообщение успешно доставлено!</h2>

	<p>Уведомление об успешной доставке вашего сообщения через форму обратной связи на сайте <a href={{site.url}}>{{site.name}}</a></p>
	<br>
	<pre>{{message}}</pre>
	<br/>
	<small>* Если это были не Вы, то просто проигнорируйте письмо или удалите его!</small>
	<br>
	<p>С уважением, {{owner}}</p>
</body>
</html>