@use "sass:math"

@import vars.module
@import mixins

.projects.grid
  margin: 0 -1rem
  +media-breakpoint-up(sm)
    margin: 0 -$projects-img-gap
  .project-cover
    display: block
    float: left
    padding: 1rem
    +media-breakpoint-up(sm)
      padding: $projects-img-gap
    >span
      position: relative
      width: 100% !important
    img
      width: 100%
      height: auto
      transition: all 900ms $cubic-bezier
      &:hover
        transform: scale(1.1)
    &:hover
      color: initial

  .grid-sizer, .project-cover
    width: 100%
    line-height: 0
    +media-breakpoint-up(md)
      width: 50%


.project-detail
  .meta
    .title
      text-align: center
      margin-bottom: 2rem
    .description
      text-align: justify
      column-gap: 3rem
      column-count: 1
      +media-breakpoint-up(lg)
        column-count: 2
      +media-breakpoint-up(xl)
        column-count: 3


.portfolio.grid
  width: 100%

  .gutter-sizer
    width: 4%
  .grid-sizer,
  .grid-item
    display: block
    float: left
    width: 48%
    line-height: 0
    margin-bottom: 4%
    +media-breakpoint-down(sm)
      width: 100%

  .grid-item.landscape
    width: 100%


.carousel-modal
  max-width: 100%
  min-height: 100%
  max-height: 100vh
  margin: 0
  background-color: $overlay-bg
  overflow: hidden
  .modal-body
    +media-breakpoint-down(lg)
      padding: 0

  .carousel-content
    background-color: unset
    position: relative
    display: flex
    flex-direction: column
    width: 100%
    pointer-events: auto
    outline: 0

    .btn-close
      opacity: 0.7
      &:hover
        opacity: 1
